 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     height: 100vh;
     width: 100%;
     display: flex;
     background: black;
     justify-content: center;
     flex-wrap: wrap;
     align-content: center;
     position: relative;
 }

 h1 {
     color: aliceblue;
     width: 100%;
     text-align: center;
 }

 .wrapper {
     width: 400px;
     aspect-ratio: 1/1;
     border: 2px solid white;

     display: flex;
     flex-wrap: wrap;
     align-content: center;
     justify-content: center;

     >div {
         width: 5%;
         height: 5%;
         border: 1px solid rgba(255, 255, 255, 0.57);

     }

     >h2 {
         color: aliceblue;
         text-align: center;
         margin-bottom: 10px;
         width: 100%;
         font-size: 40px;
     }

     button {
         font-size: 25px;
         padding: 5px;
         cursor: pointer;
         color: aliceblue;
         background: #000;
         border: 2px solid white;
         border-radius: 10px;
     }

     >.gameover,
     .startbtn {
         width: 100%;
         display: flex;
         justify-content: center;
         padding: 10px;
         gap: 10px;
         height: auto;
         border: none;



     }

 }

 h2 {
     width: 100%;
     color: aliceblue;
     margin-top: 10px;
     font-size: 40px;
     text-align: center;
 }

 .snake {
     background: greenyellow;
 }

 .food {
     background: red;
 }

 .first {
     background-color: green;
 }

 .myProfile {
     width: 260px;
     height: 200px;
     position: fixed;
     bottom: 0;
     right: 0;
     z-index: 999;
     margin-right: 10px;
     margin-bottom: 10px;

     &:hover {
         >a {
             opacity: 1;
             visibility: visible;
             left: 0px;

             &:nth-of-type(2) {
                 transition-delay: 0s, 0s, 0.3s, 0.3s, 0.3s;
             }

             &:nth-of-type(3) {
                 transition-delay: 0s, 0s, 0.6s, 0.6s, 0.6s;
             }

             &:nth-of-type(4) {
                 transition-delay: 0s, 0s, 0.9s, 0.9s, 0.9s;
             }
         }

         >.profile {
             animation-play-state: paused;

             >figure {
                 animation-play-state: paused;
             }
         }
     }

     >.profile {
         z-index: 10;
         width: 200px;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         animation: profile 10s ease-in-out backwards alternate infinite;
         position: absolute;
         right: 0;

         >figure {
             width: 95%;
             height: 95%;
             animation: profile 7s ease-in-out backwards infinite alternate-reverse;
             overflow: hidden;

             >img {
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
             }
         }
     }

     >a {
         z-index: 0;
         position: absolute;
         left: 40%;
         font-size: 2rem;
         color: rgb(67, 67, 211);
         transition-property: font-size, color, left, visibility, opacity;
         transition-duration: 0.4s, 0.4s, 1s, 1s, 1s;
         opacity: 0;
         visibility: hidden;

         &:hover {
             font-size: 3rem;
             color: green;
         }

         &:nth-of-type(1) {
             top: 0%;
         }

         &:nth-of-type(2) {
             top: 25%;
         }

         &:nth-of-type(3) {
             top: 50%;
         }

         &:nth-of-type(4) {
             top: 75%;
         }
     }
 }

 @keyframes profile {
     from {
         border-radius: 49% 44% 43% 48% / 40% 38% 53% 49%;
         background-color: #067728;
     }

     20% {
         border-radius: 56% 44% 34% 66% / 74% 28% 72% 26%;
         background-color: #021c1e;
     }

     40% {
         border-radius: 49% 44% 64% 28% / 47% 66% 25% 46%;
         background-color: #004445;
     }

     60% {
         border-radius: 56% 44% 69% 31% / 25% 26% 74% 75%;
         background-color: #2c7873;
     }

     80% {
         border-radius: 56% 44% 34% 66% / 65% 70% 30% 35%;
         background-color: #6fb98f;
     }

     100% {
         border-radius: 81% 19% 81% 19% / 25% 26% 74% 75%;
         background-color: #0e2e31;
     }
 }